body {
	max-width: 1360px;
	font-family: "Calibri";
}

#nav {
	background-color: white;
	color: #3D63A5;
	height: 4vw;
	border: none;
}

.f1 {
	font-size: 30px;
	padding-top: 1.5vw;
}

#bs-example-navbar-collapse-1 .user {
	font-size: 30px;
	padding: 10px;
}

#bs-example-navbar-collapse-1 li {
	/*	border: 10px solid white;*/
	/*	border-radius: 50%;*/
}

@media (max-width: 768px) {
	#nav {
		height: 55px;
	}
	.f1 {
		font-size: 30px;
		padding-top: 20px;
	}
}


/*---menu---*/

#menu {
	overflow: hidden;
/*		background-color: #D0E0E7;*/
	box-shadow: 0px 0px 10px gray;
	padding-left: 180px;
	width: 100%;
	margin: 0px auto 20px;
}

#menu > section {
	float: left;
	margin: 1vw;
/*		width: 80px;*/
	height: 30px;
	text-align: center;
	display: table;
	padding: 10px;
	cursor: pointer;
}

#menu > section > span {
	display: table-cell;
	font-size: 12px;
	font-family: serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 0px;
	line-height: 1.17;
}

#menu > section:hover {
	color: #0078CA;
}

#menu > section:hover span {
	line-height: 1;
	border-bottom: 2px solid #0078CA;
}

@media (min-width: 992px) {
	#menu {
/*		padding-left: 30px;*/
	}
	#menu > section {
		margin: 10px;
		/*		width: 150px;*/
		height: 40px;
	}
	#menu > section > span {
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	#menu > section {
		margin: 1vw 1.3vw;
	}
}


/*---menu---*/


/*---B1---*/

#b1 {
	text-align: right;
	/*	width: 90%;*/
	/*	margin: 20px auto;*/
	/*	box-shadow: 0px 1px 50px #065683;*/
}

#b1 > div {
	overflow: hidden;
	/*	max-height: 47vw;*/
}

.yellow {
	background-color: rgba(217, 255, 0, 0.8);
}

.red {
	background-color: rgba(255, 39, 29, 0.8);
}

.orange {
	background-color: rgba(255, 129, 0, 0.8);
}

.purple {
	background-color: rgba(109, 46, 174, 0.8);
}

.blue {
	background-color: rgba(13, 35, 255, 0.8);
}

.default {
	background-color: rgba(0, 119, 255, 0.8);
}

#b1 section {
	float: left;
	border-radius: 50px;
	width: 22.5%;
	height: 80px;
	display: table;
	box-shadow: 0px 0px 3px #02a6d3;
	margin: 1.5vw 1vw;
	position: relative;
	transition-duration: 0.5s;
	text-align: center;
}

#b1 section span {
	color: white;
	display: table-cell;
	font-size: 25px;
	width: 100%;
	font-family: "Open Sans";
	text-transform: capitalize;
	cursor: pointer;
	vertical-align: middle;
}

#b1 section i {
	display: none;
	position: absolute;
	left: 45%;
	top: 10px;
	font-size: 20px;
	cursor: pointer;
}

#b1 section:hover i {
	display: block;
}

#b1 button {
	font-size: 15px;
	margin-bottom: 30px;
	border-radius: 50px;
	margin-right: 20px;
	transition-duration: 0.5s;
}

#b1 button:hover {
	background-color: #02b3e4;
	color: white;
}

@media (min-width: 1158px) {
	#b1 section {
		/*		width: 200px;*/
		height: 90px;
	}
	#b1 section span {
/*		font-size: 35px;*/
	}
	#b1 section span:hover {
		/*		font-size: 30px;*/
	}
}

@media (max-width: 992px) {
	#b1 section {
		/*		margin: 22px 0px 22px 44px;*/
				width: 22.3%;
		height: 70px;
	}
	#b1 section span {
		font-size: 20px;
	}
	#b1 button {
		/*		font-size: 13px;*/
	}
}


/*--- END B1---*/


/*---B2---*/

#b2,
#b3 {
	text-align: center;
	overflow: hidden;
	display: flex;
	padding: 10px 0px 10px;
/*	margin-top: 90px;*/
}

#b2 section,
#b3 section {
	width: 60%;
	margin: auto;
/*	border-radius: 10px;*/
}

#b2 h2,
#b3 h2 {
	/*	font-size: 30px;*/
	margin-bottom: 5vw;
	color: #0078CA;
	margin-top: 0;
	padding-top: 10px;
	border-top: 1px solid #02b3e4;
	font-family: "Dotum";
	/*	font-weight: 300;*/
}

#b2 h4 {
	margin-bottom: 10px;
	font-family: "Calibri Light";
	color: #0BB6E5;
}

#b2 > div,
#b3 > div {
	width: 40%;
	padding-top: 100px;
}

#b2 img,
#b3 img {
	width: 90%;
	/*	height: 80%;*/
	/*	float: right;*/
	border-radius: 10px;
	box-shadow: 0px 2px 20px 0 rgba(46, 61, 73, 1);
}

#b3 .img2 {
	display: none;
}

#b2 button,
#b3 button {
	font-size: 20px;
	margin-bottom: 3vw;
	background-color: #02b3e4;
	border-radius: 50px;
	color: white;
	transition-duration: 0.5s;
}

#b2 button:hover,
#b3 button:hover {
	background-color: white;
	color: #02b3e4;
}

@media (min-width: 992px) {
	#b2 h2,
	#b3 h2 {
		font-size: 40px;
	}
	#b2 h4 {
		font-size: 28px;
	}
}

@media (max-width: 768px) {
	#b2,
	#b3 {
		display: block;
		margin-bottom: 70px;
	}
	#b2 section,
	#b3 section {
		width: 80%;
	}
	#b2 > div,
	#b3 > div {
		width: 100%;
		padding-top: 0px;
}
	#b2 img,
	#b3 img {
		width: 60%;
	}
	#b3 .img1 {
		display: none;
	}
	#b3 .img2 {
		display: block;
	}
}


/*---END B2---*/


/*---B3---*/

#b3 {
	margin-bottom: 100px;
}

#b3 > div {
	/*	background-color: black;*/
	/*	opacity: 0.3;*/
}

#b3 section {
	/*	width: 50%;*/
	/*	float: right;*/
}


/*
#b3 h2 {
	text-transform: uppercase;
	color: white;
	font-size: 4vw;
	margin-bottom: 8vw;
}

#b3 button {
	font-size: 2vw;
	margin: 11vw 0 14vw;
	border-radius: 50px;
	width: 20vw;
}
*/


/*---END B3---*/


/*---B4---*/

#b4 {
	padding-top: 50px;
/*	box-shadow: 0px 5px 50px rgba(2, 179, 228, 0.3);*/
	box-shadow: inset 0px 5px 100px lightgray;
}

#b4 > div {
	background-color: white;
	box-shadow: 0px 0px 100px white;
}

#b4 .review {
	height: 200px;
	width: 75%;
	margin: auto;
	text-align: center;
}


/*
#b4 h3 {
	font-weight: bolder;
	font-size: 2.5vw;
	font-family: serif;
}
*/

#b4 h4 {
	font-size: 30px;
	text-align: center;
	font-family: "Dotum";
	padding: 20px;
	color: #2e3d49;
	line-height: 25px;
	font-style: italic;
}

#b4 h5 {
	font-size: 20px;
	font-family: "Open Saans";
	letter-spacing: 1px;
}

#b4 a {
	background-image: none;
	color: #02B3E4;
	padding: 20px;
	border-color: #02A6D3;
}

#b4 a i {
	border-style: solid;
	border-color: #00AFF0;
	border-width: 0 2px 2px 0;
	padding: 15px;
	display: inline-block;
	font-size: 15px;
}

#b4 a .left-arrow {
	transform: rotate(135deg);
	/*    -webkit-transform: rotate(-45deg);*/
}

#b4 a i.right-arrow {
	transform: rotate(-45deg);
	/*    -webkit-transform: rotate(-45deg);*/
}

@media (max-width: 992px) {
	/*
	#b4 h3 {
		font-size: 19px;
	}
*/
	#b4 h4 {
		font-size: 21px;
	}
	#b4 h5 {
		font-size: 15px;
	}
}

#carousel {
	width: 300%;
}

#carousel .review {
	float: left;
	width: 33.33%;
}

#b4 .addreview {
	position: relative;
	margin: auto;
	margin-top: 3.2vw;
	color: #0078CA;
	font-size: 1.5vw;
	float: right;
}

#b4 .addreview a {
	/*	position: absolute;*/
	/*	width: 100%;*/
	bottom: 1vw;
	margin: 10px;
	/*	right: 10px;*/
}


/*---END B4---*/


/*---B5---*/

#b5 {
	margin: 50px auto 100px;
}

#b5 h1 {
	color: #02b3e4;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	font-family: "Dotum";
}

#b5 > div {
	padding-left: 2vw;
}

#b5 > div > div {
	/*	list-style: none;*/
	/*	z-index: 10;*/
	/*	margin-top: 20px;*/
	/*	width: 80;*/
	margin: 50px auto 0px;
}

#b5 > div > div > div {
	font-size: 20px;
	background-color: white;
	text-align: center;
	float: left;
	text-transform: uppercase;
	margin-left: -20px;
	margin-top: 10px;
	width: 240px;
	height: 150px;
	padding: 30px;
	box-shadow: 0px 0px 10px lightgray;
	color: gray;
	display: table;
}

#b5 span {
	display: table-cell;
	vertical-align: middle;
}

#b5 > div > div > div:hover {
	cursor: pointer;
	transition-duration: 0.5s;
	box-shadow: 0px 0px 20px gray;
	color: darkslategray;
}

@media (max-width: 762px) {
	#b5 > div {
		margin-left: 15vw;
	}
}


/*---END B5---*/


/*---footer---*/

footer {
	text-align: center;
	background-color: #F3F8FA;
	padding: 20px 0px 50px;
	border-top: 2px solid rgba(2, 179, 228, 0.3);
}

footer .row > div {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

footer h4 {
	color: #8FA5B8;
	font-weight: bold;
}

footer a {
	color: #525c65;
	font-size: 15px;
}

footer hr {
	border-top: 1px solid lightgray;
	margin-bottom: 0px;
}

#copyright {
	text-align: right;
	width: 90%;
}

#copyright h2 {
	margin: 0px;
	color: #525c65;
}

#copyright i,
#copyright span {
	font-size: 13px;
	color: #8FA5B8;
}


/*---END footer---*/